pandas
numpy
streamlit
plotly
scikit-learn
joblib
wordcloud
psycopg2-binary
requests
feedparser
praw
openpyxl
matplotlib
fastapi
uvicorn[standard]
pydantic
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
torchvision
bertopic
sentence-transformers
umap-learn
hdbscan
google-generativeai
